<!--The content below is only a placeholder and can be replaced.-->
<!-- Header Area wrapper Starts -->
<header id="header-wrap">
  <!-- Navbar Start -->
    <app-nav></app-nav>

  <!-- Navbar End -->

  <!-- Hero Area start -->
  <!-- <app-home></app-home> -->
  <!-- Hero Area ends -->

</header>
<!-- <router-outlet></router-outlet> -->

<!-- Header Area wrapper End -->


<!-- About Section Start -->
 <!-- <app-about></app-about> -->
<!-- About Section End -->


<!-- Services Section Start -->
 <!-- <app-services></app-services> -->
<!-- Services Section End -->

<!-- Resume Section Start -->
  <!-- <app-resume></app-resume> -->
<!-- Resume Section End -->

<!-- Portfolio Section and Counter  area start-->
 <!-- <app-works></app-works> -->
 <!-- Portfolio Section and Counter  area End-->

<!-- Contact Section Start -->
  <!-- <app-contact></app-contact> -->
<!-- Contact Section End -->

<!-- Footer Section Start -->
  <!-- <app-footer></app-footer> -->
<!-- Footer Section End -->

<!-- Go to Top Link -->
<a href="#" class="back-to-top">
  <i class="icon-arrow-up"></i>
</a>

<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="assets/js/jquery-min.js"></script>
<script src="assets/js/popper.min.js"></script>
<script src="assets/js/bootstrap.min.js"></script>
<script src="assets/js/jquery.mixitup.js"></script>
<script src="assets/js/jquery.counterup.min.js"></script>
<script src="assets/js/waypoints.min.js"></script>
<script src="assets/js/wow.js"></script>
<script src="assets/js/jquery.nav.js"></script>
<script src="assets/js/jquery.easing.min.js"></script>  
<script src="assets/js/nivo-lightbox.js"></script>
<script src="assets/js/jquery.slicknav.js"></script>
<script src="assets/js/main.js"></script>
<script src="assets/js/form-validator.min.js"></script>
<script src="assets/js/contact-form-script.min.js"></script>
<script src="assets/js/map.js"></script>
<router-outlet></router-outlet>
