<div id="resume" class="section-padding">
    <div class="container">
      <div class="row">
        <div class="col-lg-6 col-md-6 col-sm-6">
          <div class="education wow fadeInRight" data-wow-delay="0.3s">
            <ul class="timeline">
              <li>
                <i class="icon-graduation"></i>
                <h2 class="timelin-title">Education</h2>
              </li>
              <li>
                <div class="content-text">
                  <h3 class="line-title">{{resume.eduTitl01}}</h3>
                  <span>{{resume.eduYear01}}</span>
                  <p class="line-text">{{resume.eduDescription01}}</p>
                </div>
              </li>
              <li>
                <div class="content-text">
                  <h3 class="line-title">{{resume.eduTitl02}}</h3>
                  <span>{{resume.eduYear02}}</span>
                  <p class="line-text">{{resume.eduDescription02}}</p>
                </div>
              </li>
              <li>
                <div class="content-text">
                  <h3 class="line-title">{{resume.eduTitl03}}</h3>
                  <span>{{resume.eduYear03}}</span>
                  <p class="line-text">{{resume.eduDescription03}}</p>
                </div>
              </li>
            </ul>
          </div>
        </div>
        <div class="col-lg-6 col-md-6 col-sm-6">
          <div class="experience wow fadeInRight" data-wow-delay="0.6s">
            <ul class="timeline">
              <li>
                <i class="icon-briefcase"></i>
                <h2 class="timelin-title">Experience</h2>
              </li>
              <li>
                <div class="content-text">
                  <h3 class="line-title">{{resume.expTitl01}}</h3>
                  <span>{{resume.expYear01}}</span>
                  <p class="line-text">{{resume.expDescription01}}</p>
                </div>
              </li>
              <li>
                <div class="content-text">
                  <h3 class="line-title">{{resume.expTitl02}}</h3>
                  <span>{{resume.expYear02}}</span>
                  <p class="line-text">{{resume.expDescription02}}</p>
                </div>
              </li>
              <li>
                <div class="content-text">
                  <h3 class="line-title">{{resume.expTitl03}}</h3>
                  <span>{{resume.expYear03}}</span>
                  <p class="line-text">{{resume.expDescription03}}</p>
                </div>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <app-footer></app-footer>
  </div>
